.b-input {
  position: relative;
  display: flex;
  height: 64px;

  @media (min-width: $mq_desktop) {
    height: 80px;
  }
}

.b-input__inner {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 24px;
  border-top: 1px solid #E9EDF2;
  background: #fff;

  @media (min-width: $mq_desktop) {
    padding: 0 40px;
  }
}

.b-input__textarea {
  display: inline-block;
  width: 100%;
  max-height: 64px;
  border: none;
  outline: none;
  font-size: 14px;
  margin: 0;
  box-sizing: border-box;
  overflow-y: auto;

  &:empty:before{
    content: attr(placeholder);
    display: block; /* For Firefox */
    color: #7D8790;
  }
}

.b-input__button {
  width: 64px;
  height: 64px;
  border: none;
  outline: none;
  background: #398BFF url($filepath_images + 'icons/icon__send.svg') center no-repeat;
  margin: 0;
  padding: 0;

  &:not([disabled]) {
    cursor: pointer;
  }

  @media (min-width: $mq_desktop) {
    width: 80px;
    height: 80px;
  }
}
