.b-loading {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.56);
}

.b-loading-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.b-loading-animation {
  order: 0;
  flex: 1;
}

.b-loading-balls {
  height: 5px;
}

.b-loading-balls-ball {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 5px;
  height: 5px;
  margin-bottom: 5px;
  opacity: 0.9;
  background: #333;
  border-radius: 100px;
  animation: loading-ball 3s linear infinite;
}

.b-loading-balls-ball:nth-child(2) {
  opacity: 0.7;
  animation-duration: 2s;
}

.b-loading-balls-ball:nth-child(3) {
  opacity: 0.5;
  animation-duration: 4s;
}

.b-loading-balls-ball:nth-child(4) {
  opacity: 0.3;
  animation-duration: 2.5s;
}

.b-loading-balls-ball:nth-child(5) {
  opacity: 0.1;
  animation-duration: 1.3s;
}

@keyframes loading-ball {
  25% {
    transform: translateX(75px);
  }

  35% {
    transform: translateX(-35px);
  }

  65% {
    transform: translateX(35px);
  }

  75% {
    transform: translateX(-75px);
  }
}
