html {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.b-layout {
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
}

.b-panels {
  display: flex;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.b-sidebar {
  display: flex;
  flex-direction: column;
  background: #F3F6F8;

  @media (max-width: ($mq_tablet - $one_px_em)) {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateX(-100%);
    z-index: 13;
    transition: all 0.3s ease-in-out;

    &._show {
      transform: translateX(0);
    }
  }

  @media (min-width: $mq_tablet) {
    flex: 1 0 240px;
    max-width: 240px;
    z-index: 11;
  }

  @media (min-width: $mq_desktop) {
    flex-basis: 300px;
    max-width: 300px;
  }
}

.b-sidebar__title {
  position: relative;
  font-size: 14px;
  font-weight: normal;
  color: #656B77;
  padding: 24px 20px 20px;
  margin: 0;
  border-bottom: 1px solid #E9EDF2;

  ._mr {
    margin-right: 12px;
  }
}

.b-sidebar__close {
  position: absolute;
  top: 8px;
  right: 24px;
  width: 48px;
  height: 48px;
  border: none;
  outline: none;
  background: #fff url($filepath_images + 'icons/icon__close.svg') center no-repeat;
  border-radius: 999px;
  margin: 0;
  padding: 0;
  z-index: 13;

  &:not([disabled]) {
    cursor: pointer;
  }

  @media (min-width: $mq_tablet) {
    display: none;
  }
}

.b-label {
  color: #D2D8DE;
}

.b-main {
  position: relative;
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  z-index: 12;
}

.b-alert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  font-size: 18px;
  text-align: center;
}

.b-floating-button {
  position: fixed;
  top: 8px;
  left: 24px;
  width: 48px;
  height: 48px;
  border: none;
  outline: none;
  background: #398BFF url($filepath_images + 'icons/icon__menu.svg') center no-repeat;
  border-radius: 999px;
  margin: 0;
  padding: 0;
  z-index: 13;

  &:not([disabled]) {
    cursor: pointer;
  }

  @media (min-width: $mq_tablet) {
    display: none;
  }
}
