.b-messages {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  //justify-content: flex-end;
  padding: 16px 24px;
  height: 100%;
  box-sizing: border-box;

  @media (min-width: $mq_desktop) {
    padding: 16px 40px;
  }
}

.b-message {
  max-width: 80%;
  margin-bottom: 20px;
  transition: all 0.3s;

  &:first-child {
    // Fix broken scroll with `justify-content: flex-end` at parent.
    // https://stackoverflow.com/a/37515194
    margin-top: auto;
  }

  &._self {
    align-self: flex-end;
  }
}

.b-message-enter/*, .b-message-leave-to*/ {
  &:last-child {
    opacity: 0;
    transform: translateX(30px);
  }
}

//.b-message-leave-active {
//  &:last-child {
//    position: absolute;
//  }
//}

.b-message__text {
  color: #475453;
  border-radius: 8px;
  background: #E9F5F4;
  padding: 16px 26px;
}

.b-message__meta {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  margin-top: 8px;

  .b-message._self & {
    justify-content: flex-end;
  }
}

.b-message__name {
  font-size: 13px;
  line-height: 14px;
  margin-right: 12px;
  color: #000;
}

.b-message__date {
  font-size: 10px;
  line-height: 14px;
  color: #B7C0C8;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  white-space: nowrap;
}
