.b-threads {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  .b-loading {
    position: relative;
    width: 100%;
  }

  .b-loading-inner {
    height: 80px;
  }
}

.b-threads__footer {
  position: relative;
  padding: 20px;
}

.b-thread {
  text-decoration: none;
  padding: 20px;
  border-bottom: 1px solid #E9EDF2;
  transition: all 0.3s ease-in-out;

  @at-root a#{&} {
    cursor: pointer;
  }

  &:hover,
  &.router-link-exact-active {
    background: #ffffff;
  }

  &.router-link-exact-active {
    box-shadow: inset 2px 0 0 #398BFF;
  }
}

.b-thread__meta {
  margin-bottom: 4px;

  @media (min-width: $mq_desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.b-thread__title {
  @include text_one_line;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: #35383D;
}

.b-thread__date {
  font-size: 8px;
  line-height: 12px;
  color: #B7C0C8;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  white-space: nowrap;
  margin-top: 3px;

  @media (min-width: $mq_desktop) {
    font-size: 10px;
    line-height: 14px;
    margin-left: 8px;
    text-align: right;
  }
}

.b-thread__text {
  font-size: 11px;
  line-height: 16px;
  color: #7D8790;

  @media (min-width: $mq_desktop) {
    font-size: 13px;
    line-height: 18px;
  }
}
