<template>
  <div class="b-alert">
    <h1 class="b-alert__title">
      404
    </h1>
    <div class="b-alert__message">
      Упс. А такой страницы нет.
    </div>
    <div>
      <router-link
        class="b-button-link"
        :to="{ name: 'main' }"
      >
        Вернуться на главную страницу
      </router-link>
    </div>
  </div>
</template>

<script>
</script>
