<template>
  <div class="b-panels">
    <Threads/>

    <div class="b-main">
      <template
        v-if="currentThreadId"
      >
        <Messages/>
        <Input/>
      </template>

      <Loading
        v-else-if="loadingMessages"
      />

      <div
        v-else
        class="b-alert"
      >
        Выберите чат.
      </div>
    </div>

    <button
      v-if="!sidebarOpened"
      class="b-floating-button"
      type="button"
      @click="toggleSidebar"
    ></button>
  </div>
</template>

<script>
  import Threads from '@/components/Threads.vue';
  import Messages from '@/components/Messages';
  import Input from '@/components/Input';
  import Loading from '@/components/Loading';
  import { mapActions, mapGetters, mapMutations, mapState } from 'vuex';

  export default {
    components: {
      Threads,
      Messages,
      Input,
      Loading,
    },
    created() {
      this.generateFakeData();
    },
    mounted() {
      window.onresize = () => {
        // We execute the same script as before
        let vh = window.innerHeight * 0.01;
        document.documentElement.style.setProperty('--vh', `${vh}px`);
      };
      window.onresize();
    },
    watch: {
      // Set reactive route in store.
      '$route': {
        handler: async function (to, from) {
          this.toggleSidebar(null);
          await this.setCurrentThreadId(to.params.thread_id || null);
        },
        immediate: true,
      },
    },
    computed: {
      ...mapState('main', {
        fakeLoaded: state => state.fakeLoaded,
        currentThreadId: state => state.currentThreadId,
        loadingMessages: state => state.loadingMessages,
      }),
      ...mapGetters('main', [
        'sidebarOpened',
      ]),
    },
    methods: {
      ...mapMutations('main', [
        'toggleSidebar',
      ]),
      ...mapActions('main', [
        'generateFakeData',
        'setCurrentThreadId',
      ]),
    },
  };
</script>
