<template>
  <div class="b-input">
    <div class="b-input__inner">
      <div
        class="b-input__textarea"
        ref="input"
        contenteditable="!sendingMessage"
        placeholder="Введите текст..."
        @keydown="onInput"
      >
      </div>
    </div>
    <button
      class="b-input__button"
      type="button"
      @click="send"
    ></button>

    <Loading
      v-if="sendingMessage"
    />
  </div>
</template>

<script>
  import Loading from '@/components/Loading.vue';
  import { mapActions, mapState } from 'vuex';
  import striptags from 'striptags';

  export default {
    components: {
      Loading,
    },
    computed: {
      ...mapState('main', {
        sendingMessage: state => state.sendingMessage,
      }),
    },
    methods: {
      ...mapActions('main', [
        'sendMessage',
      ]),
      onInput(event) {
        if (event.keyCode === 13 && !event.shiftKey) {
          event.preventDefault();
          this.send();
        }
      },
      async send() {
        function clear_snippet_text(text) {
          if (!text) {
            return;
          }
          return striptags(text, [/*'p', 'br'*/], '\n');
        }

        const text = clear_snippet_text(this.$refs.input.innerHTML);
        if (!text) {
          return;
        }

        await this.sendMessage({text});

        this.$refs.input.innerHTML = '';
      },
    },
  };
</script>
