<template>
  <div class="b-loading">
    <div class="b-loading-inner">
      <div class="b-loading-animation">
        <div class="b-loading-balls">
          <div
            v-for="n of 5"
            class="b-loading-balls-ball"
          ></div>
        </div>
      </div>
    </div>
  </div>
</template>
