<template>
  <div
    class="b-message"
    :class="{_self: item.self}"
    ref="message"
  >
    <div
      class="b-message__text"
      v-html="getText(item.text)"
    >
    </div>
    <div class="b-message__meta">
      <div class="b-message__name">
        {{item.author}}
      </div>
      <div class="b-message__date">
        {{messageDate(item.created)}}
      </div>
    </div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex';

  export default {
    props: {
      item: Object,
      last: Boolean,
    },
    mounted() {
      this.scroll();
    },
    watch: {
      'item._id': {
        handler: function (to, from) {
          this.scroll();
        },
        immediate: true,
      },
    },
    computed: {
      ...mapGetters('main', [
        'messageDate',
      ]),
    },
    methods: {
      scroll() {
        if (this.last && this.$refs.message) {
          this.$refs.message.scrollIntoView();
        }
      },
      getText(text) {
        return (text + '')
          // Remove double line breaks
          .replace(/\n{2,}/g, '\n')
          // Replace all types of new lines
          .replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '$1' + '<br>' + '$2');
      },
    },
  };
</script>
