<template>
  <transition-group
    v-if="threadMessages.length > 0"
    name="b-message"
    tag="div"
    class="b-messages"
  >
    <Message
      v-for="(item, index) of threadMessages"
      :key="item._id"
      :item="item"
      :last="index + 1 === threadMessages.length"
    />
  </transition-group>

  <div
    v-else
    class="b-alert"
  >
    Сообщений еще нет.
  </div>
</template>

<script>
  import Message from '@/components/Message.vue';
  import Input from '@/components/Input.vue';
  import Loading from '@/components/Loading.vue';
  import { mapGetters } from 'vuex';

  export default {
    components: {
      Message,
      Input,
      Loading,
    },
    computed: {
      ...mapGetters('main', [
        'threadMessages',
      ]),
    },
  };
</script>
