<template>
  <aside
    class="b-sidebar"
    :class="{_show: sidebarOpened}"
  >
    <div class="b-sidebar__title">
      <span class="_mr">Сообщения</span>
      <span class="b-label">{{visibleThreads.length}} / {{allThreads.length}}</span>

      <button
        v-if="sidebarOpened && currentThreadId"
        class="b-sidebar__close"
        type="button"
        @click="toggleSidebar(false)"
      ></button>
    </div>

    <div
      class="b-threads"
      ref="threads"
    >
      <Thread
        v-for="item of visibleThreads"
        :item="item"
      />

      <Loading
        v-if="loadingThreads"
      />

      <div
        v-if="allThreadsLoaded"
        class="b-threads__footer"
      >
        Все сообщения загружены.
      </div>
    </div>
  </aside>
</template>

<script>
  import Thread from '@/components/Thread.vue';
  import Loading from '@/components/Loading.vue';
  import { throttle } from 'throttle-debounce';
  import { mapMutations, mapActions, mapGetters, mapState } from 'vuex';

  export default {
    components: {
      Thread,
      Loading,
    },
    mounted() {
      const vm = this;
      const c = vm.$refs.threads;

      const runOnScroll = () => {
        if (this.allThreadsLoaded) {
          return;
        }

        // Hack to get updated element.
        const getC = vm.getC();

        // Container has been scrolled to the bottom.
        if (getC.scrollTop === (getC.scrollHeight - getC.offsetHeight)) {
          this.addLoadedThreads();
        }
      };

      c.onscroll = throttle(10, runOnScroll);
      window.onresize = throttle(10, runOnScroll);
    },
    computed: {
      ...mapState('main', {
        allThreads: state => state.allThreads,
        loadingThreads: state => state.loadingThreads,
        currentThreadId: state => state.currentThreadId,
      }),
      ...mapGetters('main', [
        'visibleThreads',
        'sidebarOpened',
      ]),
      allThreadsLoaded() {
        return this.visibleThreads.length === this.allThreads.length;
      },
    },
    methods: {
      ...mapMutations('main', [
        'toggleSidebar',
      ]),
      ...mapActions('main', [
        'addLoadedThreads',
      ]),
      getC() {
        return this.$refs.threads;
      },
    },
  };
</script>
