<template>
  <router-link
    class="b-thread"
    :to="{ name: 'thread', params: { thread_id: item._id } }"
  >
    <div class="b-thread__meta">
      <div class="b-thread__title">
        {{item.subject}}
      </div>
      <div class="b-thread__date">
        {{threadDate(item.latestDate)}}
      </div>
    </div>
    <div
      class="b-thread__text"
      v-html="threadExcerpt(item.excerpt || '[Сообщений нет]')"
    >
    </div>
  </router-link>
</template>

<script>
  import { mapGetters } from 'vuex';

  export default {
    props: {
      item: Object,
    },
    computed: {
      ...mapGetters('main', [
        'threadDate',
        'threadExcerpt',
      ]),
    },
  };
</script>
